body{	
		background-image: url(https://images.bewakoof.com/utter/food-photography-made-easy-with-just-7-points.jpg);
		background-size: cover;
		font-family: sans-serif;	
	}
	
	.helptext {
		display:none;
	}

.header{	
	width: 500px;
	margin-top:5%;
	margin-left: auto;
	margin-right: auto;
	color: orange;
	font-family: 'Exo', sans-serif;
	font-size: 100px;
	font-weight: 200;
}

.header span{
	color: white !important;
}

.login{	
	height: 150px;
	width: 350px;
	padding: 10px;
	
}

.witBlok label {
	float: left;
	width: 40%;
	line-height: 36px;
	margin-top: 10px;
}

.witBlok{	
	background: rgba(255, 255, 255, 0.6);
	padding: 10px;
	border-radius: 5px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align:center;
}

.infoLijstBlok{	
	background: rgba(255, 255, 255, 0.6);
	padding: 10px;
	border-radius: 5px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align:center;
}

.opslaan{ 
	width: 100%;
	height:auto
	background: transparent;
	border: transparent;
	cursor: pointer;
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}


h1{
	font-family: 'Exo', sans-serif;
	font-weight:200;
	text-align:center;
}

#id_vraag{
	width: 30%;
	height: 25px;
	background: transparent;
	border: 2px solid white;
	border-radius: 2px;
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

#id_username{
	width: 55%;
	height: 25px;
	background: transparent;
	border: 2px solid white;
	border-radius: 2px;
	color: white;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

#id_email{
	width: 55%;
	height: 25px;
	background: transparent;
	border: 2px solid white;
	border-radius: 2px;
	color: white;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

#id_email2{
width: 55%;
	height: 25px;
	background: transparent;
	border: 2px solid white;
	border-radius: 2px;
	color: white;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

#id_password{
	width: 55%;
	height: 25px;
	background: transparent;
	border: 2px solid white;
	border-radius: 2px;
	color: white;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

#id_password2{
	width: 55%;
	height: 25px;
	background: transparent;
	border: 2px solid white;
	border-radius: 2px;
	color: white;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

#id_first_name{
	width: 55%;
	height: 25px;
	background: transparent;
	border: 2px solid white;
	border-radius: 2px;
	color: white;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

#id_last_name{
	width: 55%;
	height: 25px;
	background: transparent;
	border: 2px solid white;
	border-radius: 2px;
	color: white;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.btn.btn-default{
	width: 100%;
	height: 40px;
	background: orange;
	border: 2px solid orange;
	cursor: pointer;
	border-radius: 2px;
	color: white;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}


.btn.btn-default:hover{
	opacity: 0.8;
}

.btn.btn-default:active{
	opacity: 0.6;
}


.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.accountMaken{ 
	width: 100%;
	height: 10px;
	background: transparent;
	border: transparent;
	cursor: pointer;
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 13px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

