{% extends 'base.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

{% block content %}

<!-- Titel van de over ons pagina met de visie -->
 <div class="crewVisie">
 	<div class="crewVisieImg">
 	<div class="header">
			<div>Onze<span>Visie</span></div>
		</div>
	<div class="visieBlok">
 				Wij hebben MealPlanner Ontwikkelt om u stuctuur en variatie in uw leven te brengen.<p>
 				Daarnaast streven we ernaar om u de meest diverse, lekkere en gezonde maaltijden aan te bieden.
      </div>
     </div> 
 </div>



<!-- Alle stukjes over het team -->

<div class="page-centered">

<div class="header">
			<div>Ons Team:</div>
		</div>
<div class="voorstellen">
	<div class="naamKaartje">
		<img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAKDAAAAJDQ0NWY5OWY4LTM1MjMtNGRlYS1iOGI5LWUxOWQxMjJkOWUwNw.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">Denise</div>
		</div>
	</div>	
	
	<div class="voorstelTekst">
		hooi
	</div>
</div>


<div class="voorstellen">
	<div class="naamKaartje">
		<img src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/18951270_1299647696820759_2725870848116941838_n.jpg?oh=58a00494365c424416c6a5e308ce5222&oe=5AD389B9" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">Fransje</div>
		</div>
	</div>	
	
	<div class="voorstelTekst">
		Hoi! Ik ben het nieuwese teamlid van MealPlanner! Op dit moment werk ik aan de design van de website.
		Ik werk dus vooral met css. Werken bij MealPlanner is zo gaaf. Nu ik zelf ook MealPlanner gebruik eet ik veel gevarieerder. 
		Mijn lievelings eten is Monchoe Taart. Ja dat is niet echt een maaltijd maar als dessert of op een verjaardag vind ik dit verrukkelijk.
	</div>
</div>


<div class="voorstellen">
	<div class="naamKaartje">
		<img src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/21432930_956428451162043_8357956397991118977_n.jpg?oh=b9d3e7febede713416314854eb06f9c1&oe=5AD6C508" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">Sjors</div>
		</div>
	</div>	
	
	<div class="voorstelTekst">
		hooi
	</div>
</div>


<div class="voorstellen">
	<div class="naamKaartje">
		<img src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/12963925_713244922112088_5268236691460760707_n.jpg?oh=6080e9694f9b5c871ee36037e42dff55&oe=5A9BAB3B" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">Tony</div>
		</div>
	</div>	
	
	<div class="voorstelTekst">
		hooi
	</div>
</div>

</div>

      

{% endblock %}



