{% extends 'base2.html' %}

<!--Deze pagina maakt gebruik van de login.css -->


{% block login %}
		<div class="header">
			<div>Meal<span>Planner</span></div>
		</div>
		<form method="POST" action="" enctype="multipart/form-data" class="infoLijstBlok">
		<h2>U heeft succesvol een account aangemaakt!</h2>
		<h4>Wij hebben nog wat extra informatie van u nodig om u zo goed mogelijk van dienst te zijn</h4>
		{% csrf_token %}
		
		<input type='hidden' name='csrfmiddlewaretoken' value='c04zioJoia3OhPEHO8MUBiCx4HdJMHGjIKe1Arn8VRs3RePCxtvfRD8GJujoNWzc' /> <!--Dit kan weg?-->
		<!--volgens mij hier de name " " aanpassen als je dit ergens op wilt slaan?-->
		<p><label for="id_vraag">Lievelings eten:</label> <input type="text" name="username" required id="id_vraag" /></p>
		<p><label for="id_vraag">Hekel aan:</label> <input type="password" name="password" required id="id_vraag" /></p>
		
		<a class="opslaan" href="/">gegevens opslaan</a>
		</div>
		</form>
{% endblock %}